################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/.vs/CRAApp
/Core.Domain/bin/Debug/net9.0
/WebApi/obj/Debug/net9.0/staticwebassets
